<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mainStyles.css">
    <link rel="stylesheet" href="/css/projectsStyles.css">
    <%-include('../partials/head.ejs')%>
    <title>Proyectos</title>
</head>
<body>
    <%-include('../partials/headerEs.ejs')%>
    <h1 class="main-title">Mis proyectos actuales</h1>
    <main>
        <%for(let project of projects){%>
        <div class="project-container">
            <h3 class="project-title"><%=project.title%></h3>
            <div class="img-container">
                <img src="/images/<%=project.image%>" alt="LaBuleka logo">
            </div>
            <div class="description-container">
                <p class="description"><%=project.shortDescription%>
                </p>
            </div>
            <div class="buttons-container">
                <%if(project.link === null || project.link === ""){%>
                <a href="" target="_blank" class="project-button noLive" disabled>Live</a>
                <%} else {%>
                <a href="<%=project.link%>" target="_blank" class="project-button">En vivo</a>
                <%}%>
                <a href="/es/proyectos/<%=project.id%>" class="project-button">Más info</a>

            </div>
        </div>
        <%}%>
    </main>
    

    <%-include('../partials/footerEs.ejs')%>
    <script src="/js/noLive.js"></script>
    
</body>
</html>