<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/css/skillsStyles.css">
    <link rel="stylesheet" href="/css/mainStyles.css">
    <%-include('../partials/head.ejs')%>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habilidades</title>
</head>
<body>
    <%-include('../partials/headerEs.ejs')%>

    <h1 class="main-title" id="skills-title">Habilidades</h1>

    <h2 class="subtitle" id="techSkills-subtitle">Habilidades técnicas</h2>
    <div class="skills-container"  id="skillsContainer">
        <%for (let skill of skills.techSkills){%>
        <div class="skill-card">
            <div class="node"></div>
            <h3 class="skill-name"><%=skill.name%></h3>
            <p><%=skill.text%></p>
            <div class="line"></div>
        </div>
        <%}%>
    </div>

    <h2 class="subtitle" id="softSkills-subtitle">Habilidades blandas</h2>
    <div class="skills-container">
        <%for (let skill of skills.softSkills){%>
        <div class="skill-card">
            <div class="node"></div>
            <h3 class="skill-name"><%=skill.name%></h3>
            <p><%=skill.text%></p>            
        </div>

        <%}%>
    </div>


    <%-include('../partials/footerEs.ejs')%>

</body>
</html>